mixin pokemonForm(card, actionURL, mode, title)

    div.form-panel
        div.header= title
            form(action = actionURL method = 'post')
                div.form-input
                    label(for = 'name') Name:
                    input(type = 'text' id = 'name' name = 'name' value = card.name)
                div.form-input
                    label(for = 'hp') HP:
                    input(type = 'text' id = 'hp' name = 'hp' value = card.hp)
                div.form-input
                    label(for = 'type') Type:
                    select(id = 'type' name = 'type' autocomplete = 'off')
                        each type in types
                            option(value=type selected = (type === card.type)) #{type}
                div.form-input
                    label(for = 'picture') Picture URL:
                    input(type = 'text' id = 'picture' name = 'picture' value = card.picture)
                div.form-input
                    label(for = 'pop') Pop:
                    input(type = 'text' id = 'pop' name = 'pop' value = card.pop)
                div.form-input
                    label(for = 'move_one') Move One:
                    input(type = 'text' id = 'move_one' name = 'move_one' value = card.move_one)
                div.form-input
                    label(for = 'dam_one') Damage:
                    input(type = 'text' id = 'damOne' name = 'damOne' value = card.dam_one)
                div.form-input
                    label(for = 'desc_one') Move Description:
                    input(type = 'text' id = 'desc_one' name = 'desc_one' value = card.desc_one)
                div.form-input
                    label(for = 'en_one_on') Energy Cost:
                    select(id = 'en_one_on' name = 'en_one_on' autocomplete = 'off')
                        each type in types
                            option(value=type selected = (type === card.en_one_on)) #{type}
                div.form-input
                    label(for = 'en_one_tw') Energy Cost:
                    select(id = 'en_one_tw' name = 'en_one_tw' autocomplete = 'off')
                        each type in types
                            option(value=type selected = (type === card.en_one_tw)) #{type}
                div.form-input
                    label(for = 'en_one_th') Energy Cost:
                    select(id = 'en_one_th' name = 'en_one_th' autocomplete = 'off')
                        each type in types
                            option(value=type selected = (type === card.en_one_th)) #{type}
                div.form-input
                    label(for = 'move_two') Move Two:
                    input(type = 'text' id = 'move_two' name = 'move_two' value = card.move_two)
                div.form-input
                    label(for = 'dam_two') Damage:
                    input(type = 'text' id = 'dam_two' name = 'dam_two' value = card.dam_two)
                div.form-input
                    label(for = 'desc_two') Move Description:
                    input(type = 'text' id = 'desc_two' name = 'desc_two' value = card.desc_two)
                div.form-input
                    label(for = 'en_two_on') Energy Cost:
                    select(id = 'en_two_on' name = 'en_two_on' autocomplete = 'off')
                        each type in types
                            option(value=type selected = (type === card.en_two_on)) #{type}
                div.form-input
                    label(for = 'en_two_tw') Energy Cost:
                    select(id = 'en_two_tw' name = 'en_two_tw' autocomplete = 'off')
                        each type in types
                            option(value=type selected = (type === card.en_two_tw)) #{type}
                div.form-input
                    label(for = 'en_two_th') Energy Cost:
                    select(id = 'en_two_th' name = 'en_two_th' autocomplete = 'off')
                        each type in types
                            option(value=type selected = (type === card.en_two_th)) #{type}
                div.form-input
                    label(for = 'weak') Weakness:
                    select(id = 'weak' name = 'weak' autocomplete = 'off')
                        each type in types
                            option(value=type selected = (type === card.weak)) #{type}
                div.form-input
                    label(for = 'str') Strength:
                    select(id = 'str' name = 'str' autocomplete = 'off')
                        each type in types
                            option(value=type selected = (type === card.str)) #{type}
                div.form-input
                    label(for = 'retreat') Retreat Cost:
                    select(id = 'retreat' name = 'retreat' autocomplete = 'off')
                        each type in types
                            option(value=type selected = (type === card.retreat)) #{type}
                div.form-input
                    label(for = 'description') Description:
                    input(type = 'text' id = 'description' name = 'description' value = card.description)
                div.button-row
                    a.button.cancel(href = '/') Cancel
                    if (mode === 'edit')
                        a.button.delete(href = `/delete/${card.id}`) Delete
                    button.button.save(type = 'submit') Submit