mixin pokemonCard(card)

    div(class= `card ${card.type}`)
        div.card-head
            div.card-name= card.name
            div.card-hp= card.hp
            div.card-type
                img.card-icon(src = card.icon)
        div.card-body
            img.card-picture(src = card.picture)
            div.card-pop= card.pop
        div.card-foot
            div.card-moves
                div.card-move-one
                    div.card-move-energy
                        img.card-icon(src = `${card.en_one_on}`)
                        img.card-icon(src = `${card.en_one_tw}`)
                        img.card-icon(src = `${card.en_one_th}`)
                    div.card-move-name= card.move_one
                        div.card-move-desc= card.desc_one
                    div.card-move-dam= card.dam_one
                div.card-move-two
                    div.card-move-energy
                        img.card-icon(src = `${card.en_two_on}`)
                        img.card-icon(src = `${card.en_two_tw}`)
                        img.card-icon(src = `${card.en_two_th}`)
                    div.card-move-name= card.move_two
                        div.card-move-desc= card.desc_two
                    div.card-move-dam= card.dam_two
            div.card-bar
                div.card-weak Weakness
                    div.card-energy
                        img.card-icon(src = card.weak)
                div.card-strong Resistance
                    div.card-energy
                        img.card-icon(src = card.str)
                div.card-retreat Retreat
                    div.card-energy
                        img.card-icon(src = card.retreat)
            div.card-desc= card.desc