mixin pokemonForm(card, actionURL, mode, title)

    div.form-panel
        div.header= title
            form(action = actionURL method = 'post')
                div.form-input
                    label(for = 'name') Name:
                    input(type = 'text' id = 'name' name = 'name' value = card.name)
                div.form-input
                    label(for = 'hp') HP:
                    input(type = 'text' id = 'hp' name = 'hp' value = card.hp)
                div.form-input
                    label(for = 'type') Type:
                    select(id = 'type' name = 'type' autocomplete = 'off')
                        each type in types
                            option(value=type selected = (type === card.type)) #{type}
                div.form-input
                    label(for = 'picture') Picture URL:
                    input(type = 'text' id = 'picture' name = 'picture' value = card.picture)
                div.form-input
                    label(for = 'pop') Pop:
                    input(type = 'text' id = 'pop' name = 'pop' value = card.pop)
                div.form-input
                    label(for = 'moveOne') Move One:
                    input(type = 'text' id = 'moveOne' name = 'moveOne' value = card.move_one)
                div.form-input
                    label(for = 'damOne') Damage:
                    input(type = 'text' id = 'damOne' name = 'damOne' value = card.dam_one)
                div.form-input
                    label(for = 'descOne') Move Description:
                    input(type = 'text' id = 'descOne' name = 'descOne' value = card.desc_one)
                div.form-input
                    label(for = 'enOneOn') Type:
                    select(id = 'enOneOn' name = 'enOneOn' autocomplete = 'off')
                        each type in types
                            option(value=type selected = (type === card.en_one_on)) #{type}
                div.form-input
                    label(for = 'enOneTw') Type:
                    select(id = 'enOneTw' name = 'enOneTw' autocomplete = 'off')
                        each type in types
                            option(value=type selected = (type === card.en_one_tw)) #{type}
                div.form-input
                    label(for = 'enOneTh') Type:
                    select(id = 'enOneTh' name = 'enOneTh' autocomplete = 'off')
                        each type in types
                            option(value=type selected = (type === card.en_one_th)) #{type}
                div.form-input
                    label(for = 'moveTwo') Move One:
                    input(type = 'text' id = 'moveTwo' name = 'moveTwo' value = card.move_two)
                div.form-input
                    label(for = 'damTwo') Damage:
                    input(type = 'text' id = 'damTwo' name = 'damTwo' value = card.dam_two)
                div.form-input
                    label(for = 'descTwo') Move Description:
                    input(type = 'text' id = 'descTwo' name = 'descTwo' value = card.desc_two)
                div.form-input
                    label(for = 'enTwoOn') Type:
                    select(id = 'enTwoOn' name = 'enTwoOn' autocomplete = 'off')
                        each type in types
                            option(value=type selected = (type === card.en_two_on)) #{type}
                div.form-input
                    label(for = 'enTwoTw') Type:
                    select(id = 'enTwoTw' name = 'enTwoTw' autocomplete = 'off')
                        each type in types
                            option(value=type selected = (type === card.en_two_tw)) #{type}
                div.form-input
                    label(for = 'enTwoTh') Type:
                    select(id = 'enTwoTh' name = 'enTwoTh' autocomplete = 'off')
                        each type in types
                            option(value=type selected = (type === card.en_two_th)) #{type}
                div.form-input
                    label(for = 'weak') Weakness:
                    input(type = 'text' id = 'weak' name = 'weak' value = card.weak)
                div.form-input
                    label(for = 'strong') Strength:
                    input(type = 'text' id = 'strong' name = 'strong' value = card.str)
                div.form-input
                    label(for = 'retreat') Retreat:
                    input(type = 'text' id = 'retreat' name = 'retreat' value = card.retreat)
                div.form-input
                    label(for = 'desc') Description:
                    input(type = 'text' id = 'desc' name = 'desc' value = card.description)
                div.button-row
                    a.button.cancel(href = '/') Cancel
                    if (mode === 'edit')
                        a.button.delete(href = `/delete/${card.id}`) Delete
                    button.button.save(type = 'submit') Submit